.terminalParent {
  font-size: 1.1em;
  margin: 0 auto;
  border-radius: 10px;
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
}

.topBar {
  border-radius: 15px 15px 0 0;
  height: 5vh;
  background-color: #3b3638;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.circle {
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1vw;
}
.circle.red {
  background-color: #fd5d56;
}
.circle.yellow {
  background-color: #febb2e;
}
.circle.green {
  background-color: #27c740;
}

.terminalInfo {
  color: #e1e5f2;
  border-radius: 0 0 15px 15px;
  background-color: #1e1e1d;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

.terminalEntry {
  margin-left: 5vw;
}


.terminalKey {
  color: #e3dfff;
}

.terminalProp {
  color: #dcc48e;
}

.contactInfo {
  display: inline;
}

.contactParent {
  display: inline-block;
}

.contactLink {
  text-decoration: none;
  color: #5bc0be;
}

.lastLine {
  width: 2ch;
  display: inline-block;
  animation: blink .5s step-end infinite alternate;
  border-right: .8em solid;
}
.contactLink:hover{
  color: #dcc48e;
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media  (max-width: 769px) {
  .terminalParent {
    width: 90vw;
  }
}